{% extends "main.html" %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr>
            <h2 class="text-center">System Designer and Developer</h2>
            <hr>
        </div>

        <div class="col-md-3"></div>

        <div class="col-md-6 mb-3">

            <div class="py-3 profile-box">
                <div class="text-center">
                    <img class="profile-box developer-img img-fluid" src="{% static 'image/noyon.jpg' %}">
                </div>
                <div class="text-center mt-3">
                    <h4>Md. Babul Hasan (Noyon)</h4>
                    <h6>CSE 16th Batch</h6>
                    <h6>Deputy Publicity Secretary</h6>
                    <h6>Dhanshiri Student Walefare Association</h6>
                    <h6>Patuakhali Science and Technology University</h6>
                    <h5>
                        <span>Email: </span>
                        <a href="mailto:bhyean16@cse.pstu.ac.bd">bhyean16@cse.pstu.ac.bd</a>
                    </h5>
                    <h2>
                        <a href="https://bhyeanhasan.github.io/"><i class="bi bi-globe"></i></a>
                        <a href="https://www.facebook.com/bhyeanhasan/"><i class="bi bi-facebook"></i></a>
                        <a href="https://github.com/bhyeanhasan"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/bhyeanhasan/"><i class="bi bi-linkedin"></i></a>

                    </h2>
                </div>
            </div>

        </div>

        <div class="col-md-3">

        </div>
        <hr>

    </div>
</div>

{% endblock %}

