{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Contact</title>
</head>
<body style="background-color: aliceblue">

<!--top-->
<div class="container top border-bottom ">
    <div class="row align-items-center p-2">
        <div class="col-sm-2">
            <a href="/"><img class="img-fluid" src="{% static 'image/logo.png' %}" alt="pstu logo"></a>
        </div>
        <div class="top-text col-sm-8">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="lekha">ধানসিঁড়ি ছাত্র-ছাত্রী কল্যাণ সমিতি</h2>
                    <h4 class="text-white">পটুয়াখালী বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয়</h4>
                    <h4 class="text-white">ঝালকাঠি জেলা</h4>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <a href="/"><img class="img-fluid" src="{% static 'image/pstulogo.png' %}" alt="pstu logo"></a>

        </div>

    </div>
</div>

<!--menu-->
<div class="menu container">
    <nav class="navbar navbar-expand-lg navbar-light box-shadow mb-1">
        <div class="container">
            <a class="navbar-brand" href="/">DSWA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Committee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Alumni</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Advisor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Teachers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">All Members</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact & Support</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mb-1">
                        <a class="btn me-2 menubutton" aria-current="page" href="">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn menubutton" href="#">Sign In</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hr>
            <h2 class="text-center">System Designer and Developer</h2>
            <hr>
        </div>

        <div class="col-md-3"></div>

        <div class="col-md-6 mb-3">

            <div class="developer">
                <div class="text-center">
                    <img class="developer-img img-fluid" src="{% static 'image/noyon.jpg' %}">
                </div>
                <div class="text-center mt-3">
                    <h4>Md. Babul Hasan (Noyon)</h4>
                    <h6>CSE 16th Batch</h6>
                    <h6>Deputy Publicity Secretary</h6>
                    <h6>Dhanshiri Student Walefare Association</h6>
                    <h6>Patuakhali Science and Technology University</h6>
                    <h5>
                        <span>Email: </span>
                        <a href="mailto:bhyean16@cse.pstu.ac.bd">bhyean16@cse.pstu.ac.bd</a>
                    </h5>
                    <h2>
                        <a href="https://bhyeanhasan.github.io/"><i class="bi bi-globe"></i></a>
                        <a href="https://www.facebook.com/bhyeanhasan/"><i class="bi bi-facebook"></i></a>
                        <a href="https://github.com/bhyeanhasan"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/in/bhyeanhasan/"><i class="bi bi-linkedin"></i></a>

                    </h2>
                </div>
            </div>

        </div>

        <div class="col-md-3">

        </div>
        <hr>

    </div>
</div>

<!--footer-->
<footer class="w-100 container">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 mb-1">
            </div>
            <div class="col-md-6 mb-1">
                <h5>© DSWA, 2022 | Powered by Faculty of CSE.</h5>
                <span>Developed by:</span>
                <a href="{% url 'contact' %}">Md. Babul Hasan (NoYoN)</a>
            </div>

            <div class="col-md-3">


            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>