{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>

<!--top-->
<div class="container top border-bottom ">
    <div class="row align-items-center p-2">

        <div class="col-sm-2">
            <a href="/"><img class="toplogo img-fluid p-2" src="{% static 'image/logo.png' %}" alt="pstu logo"></a>
        </div>

        <div class="top-text col-sm-8 py-4">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="lekha">ধানসিঁড়ি ছাত্র-ছাত্রী কল্যাণ সমিতি</h2>
                    <h5 class="text-white">পটুয়াখালী বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয়</h5>
                    <h5 class="text-white">ঝালকাঠি জেলা</h5>
                </div>
            </div>
        </div>

        <div class=" col-sm-2">
            <a href="/"><img class="toplogo img-fluid" src="{% static '/image/pstulogo.png' %}" alt="pstu logo"></a>
        </div>

    </div>
</div>

<!--menu-->
<div class="menu container">
    <nav class="navbar navbar-expand-lg navbar-light box-shadow mb-1">
        <div class="container">
            <a class="navbar-brand" href="/">DSWA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'committee' %}">Committee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'alumni' %}">Alumni</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Advisor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'teacher' %}">Teachers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'members' %}">All Members</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact & Support</a>
                    </li>
                </ul>


                <ul class="navbar-nav ms-auto">

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="btn m-1 menubutton" href="{% url 'profile' %}">{{ user.username }}</a>
                        </li>
                        <li class="nav-item mb-1">
                            <a class="btn  m-1  menubutton" aria-current="page" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn m-1 menubutton" href="{% url 'login' %}">Sign In</a>
                        </li>
                        <li class="nav-item mb-1">
                            <a class="btn  m-1  menubutton" aria-current="page" href="{% url 'user_signup' %}">Sign Up</a>
                        </li>

                    {% endif %}


                </ul>

            </div>
        </div>
    </nav>
</div>

{% block content %}

    <!--slider-->
    <div class="container mt-2 mb-4">

        <div class="row">
            <div class="col-md-9 mb-3">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                                aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                                aria-label="Slide 6"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'image/peyara2.jpg' %}" class="d-block w-100 img-fluid slide" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>ভাসমান পেয়ারা বাজার</h5>
                                <p>বাংলাদেশের সবথেকে বড় ভাসমান বাজার</p>
                            </div>
                        </div>


                        <div class="carousel-item">
                            <img src="{% static 'image/dhanshiri.jpg' %}" class="d-block w-100 img-fluid slide"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>ধানসিঁড়ি নদী</h5>
                                <p>বিখ্যাত প্রকৃতিবাদী কবি জীবনানন্দ দাশ রূপসী বাংলা কবিতায় ধানসিঁড়ি নদীটির সাথে
                                    পরিচয়
                                    করিয়ে দিয়েছেন</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="{% static 'image/serebangla.jpg' %}" class="d-block w-100 img-fluid slide"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>সাতুরিয়া জমিদার বাড়ি</h5>
                                <p>সাতুরিয়া জমিদার বাড়িতে ১৮৭৩ সালের ২৬ অক্টোবর জন্মগ্রহণ করেন বাংলার বাঘ হিসেবে খ্যাত
                                    শেরেবাংলা এ.কে. ফজলুল হক</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="{% static 'image/gabkhan.jpg' %}" class="d-block w-100 img-fluid slide" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>গাবখান সেতু</h5>
                                <p>বাংলার সুয়েজখালের ওপর নির্মিত গাবখান সেতু</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="{% static 'image/necharabad.jpg' %}" class="d-block w-100 img-fluid slide"
                                 alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>ঝালকাঠি এন এস কামিল মাদরাসা বা নেছারাবাদ কামিল মাদরাসা</h5>
                                <p>প্রখ্যাত আলেম হযরত মাওলানা মুহাম্মদ আযীযুর রহমান কায়েদ সাহেব.১৯৫০ সালে ফোরকানিয়া
                                    মাদরাসা নামে এর কার্যক্রম শুরু করেন।</p>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="{% static 'image/jghs.jpg' %}" class="d-block w-100 img-fluid slide" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>ঝালকাঠি সরকারি উচ্চ বিদ্যালয়</h5>
                                <p>শতবর্ষী বিদ্যাপীঠ</p>
                            </div>
                        </div>

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="col-md-3">
                <div class=" card">
                    <div style="background-color: #004763;color: white" class="card-header text-center">
                        Recent Notice
                    </div>
                    <div class="card-body" style="height:72vh; overflow-y: scroll;">
                        <div class="div pt-1">
                            <a href="#">২০২০-২০২১ শিক্ষাবর্ষে ১ম বর্ষ স্নাতক (সম্মান) শ্রেণিতে ভর্তি বিজ্ঞপ্তি</a>
                        </div>
                        <div class="div pt-1">
                            <a href="#">২০২০-২০২১ শিক্ষাবর্ষে ১ম বর্ষ স্নাতক (সম্মান) শ্রেণিতে ভর্তির নিয়মাবলী ও ভর্তি
                                সংক্রান্ত
                                সময়সূচী</a>
                        </div>
                        <div class="div pt-1">
                            <a href="#">GST মোবাইল নম্বর পরিবর্তনের আবেদন ফরম</a>
                        </div>
                        <div class="div pt-1">
                            <a href="#">ভুল কোটা নিবাচন সংক্রান্ত নোটিশ</a>
                        </div>
                        <div class="div pt-1">
                            <a href="#">Admission Circular for Foreign Students</a>
                        </div>
                        <div class="div pt-1">
                            <a href="#">প্রবাসী (কর্মরতদের সন্তান) কোটার জন্য প্রয়োজনীয় প্রমানাদির নমুনা কপি</a>
                        </div>
                        <div class="div pt-1">
                            <a href="#">প্রবাসী (কর্মরতদের সন্তান) কোটার জন্য প্রয়োজনীয় প্রমানাদির নমুনা কপি</a>
                        </div>
                        <div class="div pt-1">
                            <a href="#">প্রবাসী (কর্মরতদের সন্তান) কোটার জন্য প্রয়োজনীয় প্রমানাদির নমুনা কপি</a>
                        </div>
                        <div class="div pt-1">
                            <a href="#">প্রবাসী (কর্মরতদের সন্তান) কোটার জন্য প্রয়োজনীয় প্রমানাদির নমুনা কপি</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!--about jhalokathi-->
    <div class="container border-top border-bottom">
        <div class="row align-items-center">
            <div class="col-sm-3 mt-5 ">
                <div class=" text-center">
                    <img src="{% static 'image/sovapoti.jpg' %}" class="posted card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">নুরুজ্জামান তুহিন</h4>
                        <h5 class="card-text"> সভাপতি</h5>
                        <h6 class="card-text"> ধানসিঁড়ি ছাত্র-ছাত্রী কল্যাণ সমিতি</h6>
                        <h6 class="card-text"> পটুয়াখালী বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয়</h6>
                        <a href="#" class="btn"><i class="bi bi-telephone-forward-fill"></i> +880 1920599266</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mt-5 p-3">

                <h2 class="mb-5 border-bottom text-center ">ঝালকাঠি জেলা</h2>

                <p>সবুজ মাঠ গাছ-গাছালি, নদী-নালা, খাল-বিল, অপার সৌন্দর্যমণ্ডিত পরিপাটি জেলা ঝালকাঠি। কবি জীবনানন্দ দাশের
                    ‘আবার আসিব ফিরে’ কবিতার ধানসিঁড়ি নদী এই জেলায় অবস্থিত।এই জেলাটির আছে এক গৌরবোজ্জ্বল ইতিহাস।<br><br>
                    নদী
                    বন্দরের
                    জন্য এই অঞ্চল সবসময়ই গুরুত্বপূর্ণ ছিল। ব্যবসায়িক গুরুত্ব বিবেচনা করে একে কলকাতার সাথে তুলনা করা
                    হতো, আর
                    বলা হতো দ্বিতীয় কলকাতা। এই অঞ্চলে ইউরোপীয়দের থেকে শুরু করে ডাচ, ইস্ট ইন্ডিয়া কোম্পানি ও ফরাসি;
                    সকলেই
                    ব্যবসা কেন্দ্র খুলেছিল।<br> ১৯৮৪ সালে ঝালকাঠি জেলা হিসেবে আত্মপ্রকাশ করে। কাঁঠালিয়া, রাজাপুর, নলছিটি
                    ও
                    ঝালকাঠি সদর এই চার উপজেলা নিয়ে ঝালকাঠি জেলা গঠিত। সুগন্ধা, বিষখালি ও ধানসিঁড়ির মতো নদী এই জেলার বুক
                    চিরে প্রবাহিত।
                    <br><br>
                    ঝালকাঠি জেলায় বেশ কিছু দর্শনীয় স্থান রয়েছে। সেগুলো হল কীর্তিপাশা জমিদার বাড়ি, সুজাবাদ কেল্লা,
                    গাবখান
                    সেতু, সুরিচোরা জামে মসজিদ, ঘোষাল রাজবাড়ী, পুরাতন পৌরসভা ভবন ও মাদাবর মসজিদ।

                    এছাড়া অন্যান্য দর্শনীয় স্থানের মধ্যে রয়েছে ধানসিঁড়ি নদী, রূপসা খাল, গালুয়া পাকা মসজিদ, নেছারাবাদ
                    কমপ্লেক্স, পোনাবালিয়া মন্দির, সিদ্ধকাঠী জমিদার বাড়ি, নলছিটি পৌর ভবন, চায়না কবর, কামিনী রায়/ যামিনী
                    সেনের
                    বাড়ী ইত্যাদি।
                </p>

            </div>

            <div class="col-sm-3 mt-5">
                <div class=" text-center">
                    <img src="{% static 'image/sadha.jpg' %}" class="posted card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">তাওহীদ হোসাইন</h4>
                        <h5 class="card-text"> সাধারন সম্পাদক</h5>
                        <h6 class="card-text"> ধানসিঁড়ি ছাত্র-ছাত্রী কল্যাণ সমিতি</h6>
                        <h6 class="card-text"> পটুয়াখালী বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয়</h6>
                        <a href="#" class="btn "><i class="bi bi-telephone-forward-fill"></i> +880 1920599266</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--about pstu-->
    <div class="container border-bottom">
        <div class="row align-items-center">

            <div class="col-md-5">
                <div class="">
                    <h3 class="border-bottom mb-3 mt-5 text-center">পটুয়াখালী বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয়</h3>
                    <p> দক্ষিণ বঙ্গের সর্বোচ্চ ও সর্বপ্রথম বিশ্ববিদ্যালয়। দক্ষিণ বঙ্গে প্রযুক্তিতে পিছিয়ে পরা মানুষদের
                        প্রযুক্তি নির্ভর শিক্ষায় এগিয়ে নিতে ২০০০ সালে এই বিশ্ববিদ্যালয়টির যাত্রা শুরু হয়। <br><br>

                        আটটি অনুষদের অধীনে (কৃষি অনুষদ, সিএসই অনুষদ, বিএএম অনুষদ, মাৎস্য বিজ্ঞান অনুষদ, অ্যানিমেল
                        সায়েন্স
                        অ্যান্ড ভেটেরিনারি মেডিসিন অনুষদ, দুর্যোগ ব্যবস্থাপনা অনুষদ, নিউট্রিশন অ্যান্ড ফুড সায়েন্স অনুষদ
                        এবং
                        ল্যান্ড ম্যানেজমেন্ট অ্যান্ড অ্যাডমিনিস্ট্রেশন অনুষদ) শিক্ষা কার্যক্রম পরিচালিত হচ্ছে। এই আটটি
                        অনুষদের অধীনে ৯টি ডিগ্রী প্রদান করা হচ্ছে।<br><br>
                        ৮৯ দশমিক ৯৭ একর আয়তনের ওপর প্রতিষ্ঠিত এই
                        বিশ্ববিদ্যালয়টিতে বর্তমানে স্নাতক পর্যায়ে ২ হাজার ৮৩১ জন, স্নাতকোত্তর পর্যায়ে ৫৬৭ জন এবং পিএইচডি
                        পর্যায়ে ২৩ জন ছাত্র-ছাত্রী অধ্যয়নরত আছে। শিক্ষা কার্যক্রম পরিচালনার জন্য ২৫৪ জন শিক্ষক এবং ১৭০
                        জন
                        কর্মকর্তা ও ৫২৪ জন কর্মচারী নিরলস পরিশ্রম করে যাচ্ছেন। শিক্ষার্থীদের আবাসন সুবিধা প্রদানের জন্য
                        ৫টি
                        ছাত্র হল এবং ৩টি ছাত্রী হল রয়েছে।

                    </p>
                </div>

            </div>

            <div class="col-md-7">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'image/admin.jpg' %}" class="d-block w-100 slide2 img-fluid" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'image/bsmrh' %}" class="d-block w-100 slide2 img-fluid" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'image/nilkomol.jpg' %}" class="d-block w-100 slide2 img-fluid"
                                 alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'image/gate.jpg' %}" class="d-block w-100 slide2 img-fluid" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="row">

            <div class="col-md-6 text-center p-5">
                <img class="img-fluid" style="height: 60vh;border-radius: 10px" src="{% static 'image/jktlogo.jpg' %}">
            </div>
            <div class="col-md-6 text-center p-5">
                <img class="img-fluid" style="height: 60vh"
                     src="{% static 'image/jhalokathi-sadar-upazila-map-jhalokathi-district-bangladesh.jpg' %}">
            </div>
        </div>
    </div>

{% endblock %}

<!--footer-->
<footer class="w-100 container">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-3 mb-1">
            </div>
            <div class="col-md-6 mb-1">
                <h5>© DSWA, 2022 | Powered by Faculty of CSE.</h5>
                <span>Developed by:</span>
                <a href="{% url 'contact' %}">Md. Babul Hasan (NoYoN)</a>
            </div>

            <div class="col-md-3">


            </div>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>