{% extends "main.html" %}
{% load static %}

{% block title %}Members{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 my-4">
                <h2 class="text-center">{{ notice_view.title }}</h2><hr>
                <p>{{ notice_view.body }}</p>
                <a style="float: right" href="#">Added by: {{ notice_view.user }}</a><br>
                <p style="float: right">{{ notice_view.time }}</p>

                {% for image in images %}
                    <img class="image-fluid w-100 my-1" src="{{ image.images.url }}">
                {% endfor %}

                {% if notice_view.user == user %}
                    <a href="{{ notice_view.delete_notice }}">Delete Notice</a>
                {% endif %}
            </div>
            <div class="col-md-3"></div>

        </div>
    </div>



{% endblock %}