.top {
    background-color: #092958;
}

.toplogo {
    display: flex;
}

.lekha {
    color: white;
    text-shadow: #092958;
}

.menu {
    background-color: #004763;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.order {
    background-color: #440000;
    margin-bottom: 2px;
    color: white;
}

.order:hover {
    background-color: green;
    color: white;
}

a {
    color: green;
    text-decoration: none;
}


.carousel-caption {
    border-radius: 50px;
    background-color: rgba(43, 40, 40, 0.4)
}


footer {
    background-color: #092958;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(138, 133, 133);
}

.menubutton {
    background-color: #0a2a53;
    color: white;
}

.menubutton:hover {
    background-color: #00a148;
    color: white;
}

.sidebutton {
    border-radius: 5px;
}

.slide {
    height: 80vh;
}

.slide2 {
    height: 80vh;
    padding: 20px;
}

.posted {
    border-radius: 5%;
    height: 250px;
}

/*-----------------------------------------------------*/
.developer {


}

.developer-img {
    border-radius: 20px;
    height: 320px;
    width: 320px;
    box-shadow: white;
}

.update-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.profile-body {

}

.profile-box {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.members {
    background-color: whitesmoke;
}

.members img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.notice {
    max-height: 105px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 4px 8px 0 rgba(23, 135, 210, 0.17), 0 6px 20px 0 rgba(4, 198, 7, 0.19);
    margin-bottom: 10px;
    padding: 10px;
}

@media only screen and (max-width: 700px) {
    .toplogo {
        display: none;
    }

    .slide {
        height: 50vh;
    }

    .posted_div {
        padding-right: 20px;
        padding-left: 20px;
    }

}