{% extends "../main.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-md-3"></div>

            <div class="col-md-6 p-5 mt-5 mb-5 profile-box  ">

                <h5 class="text-center">User Login</h5>
                <div class="">
                    {% for message in messages %}

                        <div class="alert alert-danger d-flex align-items-center" role="alert">

                            <div>
                                {{ message }}
                            </div>
                        </div>

                    {% endfor %}
                </div>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    <h6 class="m-2">Username:</h6>
                    <input class="m-2 form-control" name="username" required type="text">
                    <h6 class="m-2">Password:</h6>
                    <input class="m-2 mb-4 form-control" name="password" required type="password">


                    <div class="text-center">
                        <button style="width: 100px" class="m-2 btn btn-info p-2" type="submit">Login</button>
                    </div>
                    <div class="text-end">
                        <a href="{% url 'password_reset' %}">Forgot Password</a>
                        <a href="{% url 'sendMail' %}">Sebd</a>

                    </div>

                </form>
            </div>

            <div class="col-md-3 "></div>

        </div>
    </div>

{% endblock %}


