{% extends "../main.html" %}
{% load static %}
{% block title %}Update{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-6 profile-box my-3">
            <form class="m-3" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <h2 class="text-center">General Information</h2>
                {{ form.as_p }}
                <input class="form-control btn btn-info" type="submit" value="Submit">
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>

{% endblock %}





