{% extends "../main.html" %}
{% load static %}
{% block title %}Update{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="message">

                    {% for message in messages %}
                        <div class="w-100 m-2 text-center alert alert-warning" role="alert">
                            <h5 style="color:red;">{{ message }}</h5>
                        </div>
                    {% endfor %}

                </div>

            </div>


            <div class="col-md-3 mt-5 mb-5">
                <div class="  mb-4 ">
                    {% if student.picture %}
                        <div class="text-center">
                            <img class="update-pic img-fluid" src="{{ student.picture.url }}">
                        </div>
                    {% else %}
                        <div class="text-center">
                            <img class=" update-pic image-fluid" src="{% static 'image/profile.jpg' %}">
                        </div>
                    {% endif %}

                    <hr>

                    <form class="profile-box" enctype="multipart/form-data" action="{% url 'update_image' %}" method="post">
                        {% csrf_token %}
                        <input class="form-control" type="file" name="picture">
                        <input class="btn btn-danger form-control mt-2" type="submit" value="Change Profile Picture">
                    </form>


                </div>
            </div>

            <div class="col-md-5 mt-5 mb-5">
                <div class="border profile-box  p-4 mb-3">
                    <h5 class="text-center">Update Basic Info</h5>
                    <hr>
                    <form enctype="multipart/form-data" action="{% url 'update' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-info form-control" type="submit" value="Update Info">
                    </form>
                </div>
            </div>

            <div class="col-md-4 mt-5 mb-5">

                <div class="border profile-box p-4 mb-4">
                    <h6 class="text-center ">Update Password</h6>
                    <hr>
                    <form enctype="multipart/form-data" action="{% url 'update_pass' %}" method="post">
                        {% csrf_token %}
                        <input class="my-2 form-control" type="password" name="oldpass" placeholder="Old Password">
                        <input class="my-2 form-control" type="password" name="pass1" placeholder="New Password">
                        <input class="my-2 form-control" type="password" name="pass2" placeholder="Confirm Password">
                        <input class="my-2 btn btn-danger form-control mt-2" type="submit" value="Change Password">
                    </form>

                </div>

                <div class="border profile-box p-4 mb-4">
                    <h6 class="text-center ">Update Email</h6>
                    <hr>

                    <form enctype="multipart/form-data" action="{% url 'update_email' %}" method="post">
                        {% csrf_token %}
                        <a>Change : {{ user.email }}</a>
                        <input class="my-2 form-control" type="email" name="email" placeholder="New Email">
                        <input class="my-2 btn btn-danger form-control mt-2" type="submit" value="Change Email">
                    </form>

                </div>

            </div>

        </div>
    </div>

{% endblock %}



