.top{
    background-color: #092958;
}
.lekha{
    color: white;
    font-weight: bold;
    text-shadow: #092958;
}
.menu{
    background-color: #092958;
}
.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.order{
    background-color: #440000;
    margin-bottom: 2px;
    color: white;
}
.order:hover{
    background-color: green;
    color: white;
}
footer{
    background-color: #440000;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(138, 133, 133);
}
.menubutton{
    width: 100px;
    background-color: #289dd4;
    color: white;
}
.menubutton:hover{
    background-color: green;
    color: white;
}
.sidebutton{
    border-radius: 5px;
}
.slide{
    height: 80vh;
}
.slide2{
    height: 80vh;
    padding: 20px;
}

.posted{
    border-radius: 5%;
    height: 250px;
}