{% extends "../main.html" %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 my-5 p-3">
                <h1 class="text-center">Forgot your password?</h1>
                <p>Enter your email address below</p>

                <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Send me instructions!">
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>


{% endblock %}